@model IEnumerable<Domain.Link>
@{
    ViewBag.Title = "Index";
}
@using (Ajax.BeginForm("Index", "Home", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    UpdateTargetId = "Links",

}, new { @id = "LinksForm" }))
{
    <div style="margin-top:20px">
        <input type="text" name="link" />
        <button type="submit">Send link</button>
        <div id="Links">
            @Html.Partial("Partials/LinksView")
        </div>
    </div>
}